<!DOCTYPE html>
<html>

<head>
    <title>Highscore - Wordle</title>
    <link rel="stylesheet" href="/highscore.css" />
</head>

<body>
    <h1 class="header">Highscore lista</h1>

    <ul>
        <% highscores.forEach(score=> { %>
            <li>
                <strong>
                    <%= score.name %>
                </strong>
                - Correct word: <%= score.correctWord.charAt(0).toUpperCase() + score.correctWord.slice(1) %>
                    - Time: <%= score.duration %> seconds
                        - Number of Guesses: <%= score.guesses %>
                            - Number of characters: <%= score.wordLength %>
                                - Unique letters: <%= score.uniqueLetters ? "Yes" : "No" %>
            </li>
            <% }) %>
    </ul>

    <a href="http://localhost:5173/">Tillbaka till spelet</a>
</body>

</html>