<!DOCTYPE html>
<html>

<head>
    <title>Highscore - Wordle</title>
    <link rel="stylesheet" href="/highscore.css" />
</head>

<body>
    <h1 class="header">Highscore lista</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Namn</th>
                <th>Gissningar</th>
                <th>Tid (s)</th>
                <th>Ordlängd</th>
                <th>Unika bokstäver</th>
            </tr>
        </thead>
        <tbody>
            <% highscores.forEach((score, index)=> { %>
                <tr>
                    <td class="rank">
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= score.name %>
                    </td>
                    <td>
                        <%= score.guesses %>
                    </td>
                    <td>
                        <%= score.duration %>
                    </td>
                    <td>
                        <%= score.wordLength %>
                    </td>
                    <td>
                        <%= score.uniqueLetters ? "Ja" : "Nej" %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <a href="http://localhost:5173/" class="back-link">Tillbaka till spelet</a>
</body>

</html>