<!DOCTYPE html>
<html>

<head>
    <title>Highscore - Wordle</title>
</head>

<body>
    <h1>Highscore-lista</h1>

    <ul>
        <% highscores.forEach(score=> { %>
            <li>
                <strong>
                    <%= score.name %>
                </strong>
                - Time: <%= score.duration %> sekunder
                    - Number of Guesses: <%= score.guesses %>
                        - Number of characters: <%= score.wordLength %>
                            - Unique letters: <%= score.uniqueLetters ? "Yes" : "No" %>
            </li>
            <% }) %>
    </ul>

    <a href="http://localhost:5173/">Tillbaka till spelet</a>
</body>

</html>